{% extends "Catering/Admin/adminindex.html.twig" %}
{% block userdata %}
    {% if pagedescription is not empty %}
        <div class="offer-container auto-side-margins text-justify">
            <div class="container-description">
                <div class="offer-title"> {{ pagedescription.Title }}</div>
                {{ pagedescription.Description }}
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="align-right auto-side-margins" style="width:90%; margin-top:15px; margin-bottom:15px">
            {{ form_start(deleteform, {"attr": {"class": "inline-block", "style": "margin-right:10px"}}) }}
            {{ form_widget(deleteform.deleteDescription, {"attr": {"class": "button"}}) }}
            {{ form_rest(deleteform) }}
            {{ form_end(deleteform) }}
            <a href="{{ url("menu_description_edit", {"id": pagedescription.DescriptionId}) }}" class="button inline-block align-center" style="float:right;width:50px">Edytuj</a>
        </div>
        <div class="clear-both"></div>
    {% else %}
        <a href="{{ url("menupage_description_add") }}" class="button align-center" style="margin:20px auto 60px 40px;width:100px">Dodaj opis</a>
    {% endif %}
    {% for menucategory in menucategories %}
    <div class="category-container" style="width: 200px;height:180px;">
        <a href="{{ url("menupage_menucategory_show", {"id": menucategory.CategoryId}) }}" class="category-title" style="font-size:15px;">{{ menucategory.CategoryName }}</a>
        <div class="category-image" style="height: 100px;">
            <img src="{{ asset(menucategory.ImageId | getImgName) }}"/>
        </div>
        <div class="category-info">
            <a href="{{ url("menupage_menucategory_edit", {"id": menucategory.CategoryId}) }}" class="button" style="display:inline; float:right">edytuj</a>
        </div>
    </div>
        {% endfor %}
    <div style="width:90%" class="auto-side-margins">
    <a href="{{ url("menupage_menucategory_add") }}" class="button" style="width:150px; margin:0px auto 0px 0px">Dodaj kategorię</a>
    </div>

{% endblock %}