{% extends "Catering/Admin/adminindex.html.twig" %}
{% block userdata %}
<div class="admin-offerpage-container">
    {% if pagedescription is not empty %}
        <div class="offer-container auto-side-margins text-justify">
            <div class="container-description">
                <div class="offer-title"> {{ pagedescription.Title }}</div>
                {{ pagedescription.Description }}
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="align-right auto-side-margins" style="width:90%; margin-top:15px; margin-bottom:15px">
            {{ form_start(deleteform, {"attr": {"class": "inline-block", "style": "margin-right:10px"}}) }}
            {{ form_widget(deleteform.deleteDescription, {"attr": {"class": "button"}}) }}
            {{ form_rest(deleteform) }}
            {{ form_end(deleteform) }}
            <a href="{{ url("newspage_description_edit", {"id": pagedescription.DescriptionId}) }}" class="button inline-block align-center" style="float:right;width:50px">Edytuj</a>
        </div>
        <div class="clear-both"></div>
    {% else %}
        <a href="{{ url("menupage_description_add") }}" class="button align-center" style="margin:20px auto 60px 0px;width:100px">Dodaj opis</a>
    {% endif %}
    {% for shownews in news %}
    <div class="event">
        <a href="{{ url("newspage_news_edit", {"id": shownews.NewsId}) }}">{{ shownews.NewsTitle }}</a>
    </div>
        {% endfor %}
    <a href="{{ url("newspage_news_add") }}" class="button align-center" style="width:150px; float:right">Dodaj newsa</a>
</div>
{% endblock %}