{% extends "Catering/Admin/adminindex.html.twig" %}
{% block userdata %}
    <div class="admin-offerpage-container">
        <div class="desc-container">
            {{ form_start(form) }}
            {{ form_label(form.activitytitle) }}
            {{ form_widget(form.activitytitle) }}
            {{ form_label(form.activitydescription) }}
            {{ form_widget(form.activitydescription) }}
                {{ form_label(form.imageid) }}
                {{ form_widget(form.imageid) }}
            {% if image.ImageId is not null %}
                <img src="{{ asset(image.ImageId | getImgName) }}" style="width:100px"/>
            {% endif %}
            {{ form_widget(form.submit, {"attr": {"class": "button"}}) }}
            <a href="{{ url("admin_edit_offerpage") }}" class="button align-center" style="display:inline">Powrót</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}